<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<!--定义连接管理器 -->
	<bean id="httpClientConnectionManager"
		class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
		<property name="maxTotal" value="200"></property>
		<property name="defaultMaxPerRoute" value="20"></property>

	</bean>

	<!-- HttpClientBuilder -->
	<bean id="httpClientBuilder"
		class="org.apache.http.impl.client.HttpClientBuilder">
		<property name="connectionManager"
			ref="httpClientConnectionManager"></property>

	</bean>
	<!-- HttpClient -->
	<bean id="closeableHttpClient"
		class="org.apache.http.impl.client.CloseableHttpClient"
		factory-bean="httpClientBuilder" factory-method="build"
		scope="prototype">
	</bean>
	<!--RequestConfig 构建器 -->
	<bean id="requestConfigBuilder"
		class="org.apache.http.client.config.RequestConfig.Builder">
		<property name="connectTimeout" value="${http.connectTimeout}"></property>
		<property name="connectionRequestTimeout" value="${http.connectionRequestTimeout}"></property>
		<property name="socketTimeout" value="${http.socketTimeout}"></property>
		<property name="staleConnectionCheckEnabled" value="${http.staleConnectionCheckEnabled}"></property>
		
		
		</bean>
		<bean class="org.apache.http.client.config.RequestConfig" factory-bean="requestConfigBuilder" factory-method="build"></bean>
		<!--定期关闭无效连接  -->
		<bean class="com.taotao.common.httpclient.IdleConnectionEvictor">
		<constructor-arg index="0" ref="httpClientConnectionManager"></constructor-arg>
		</bean>
		
		
</beans>