<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<!--配置注解扫描 -->
	<context:component-scan
		base-package="com.taotao.*"></context:component-scan>
	<context:property-placeholder
		location="classpath:db.properties,classpath:env.properties,classpath:httpclient.properties" />
	<!-- 配制连接池 -->
	<!-- 配置主库 -->
	<bean id="materDataSource"
		class="com.jolbox.bonecp.BoneCPDataSource">
		<property name="driverClass" value="${jdbc.master.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.master.url}"></property>
		<property name="username" value="${jdbc.master.username}"></property>
		<property name="password" value="${jdbc.master.password}"></property>
	</bean>
	<!-- 配置从库数据源 -->
	<bean id="slave01DataSource"
		class="com.jolbox.bonecp.BoneCPDataSource">
		<property name="driverClass" value="${jdbc.slave01.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.slave01.url}"></property>
		<property name="username" value="${jdbc.slave01.username}"></property>
		<property name="password" value="${jdbc.slave01.password}"></property>
	</bean>
	<!-- 定义动态数据源 -->
	<bean id="dataSource"
		class="com.taotao.common.dataSource.DynamicDataSource">
		<!-- 设置多个数据源 -->
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="master" value-ref="materDataSource"></entry>
				<entry key="slave" value-ref="slave01DataSource"></entry>
			</map>
		</property>
		<!-- 设置默认数据源 -->

		<property name="defaultTargetDataSource"
			ref="materDataSource"></property>


	</bean>
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">

		<property name="configLocation"
			value="classpath:mybaits/SqlMapConfig.xml"></property>
		<property name="typeAliasesPackage"
			value="com.taotao.cart.pojo" />
		<!-- <property name="mapperLocations"
			value="classpath:mybaits/mapper/**/*.xml"></property> -->
		<property name="dataSource" ref="dataSource"></property>

	</bean>

	<!-- mapper扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.taotao.cart.mapper"></property>
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory"></property>

	</bean>
</beans>